<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- Using local reference  -->
      <input type="text" class="form-control" #nameServerInput>
      <!-- Using two-way data binding  -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName">-->
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(nameServerInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(nameServerInput)">Add Server Blueprint</button>
    </div>
  </div>